
* {
  border:0;
  margin:0;
  padding:0;
}

#change_grid_container {
  color: white;
  margin: 2px;
}

#options_container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 3px;
}

#seed_canvas_container {
  color: white;
  margin: 2px;
}

#tasks_container {
  align-items: center;
  display:flex;
  flex-direction: column;
  height: 80vh;
  justify-content:space-around;
  left: 5vw;
  position:absolute;
  top: 5vh;
  width:90vw;
}

#wrapper {
  background-color:black;
  display:block;
  left:0;
  position:absolute;
  top:0;
}

.button {
	-moz-box-shadow:inset 6px -9px 7px -7px #29bbff;
	-webkit-box-shadow:inset 6px -9px 7px -7px #29bbff;
	box-shadow:inset 6px -9px 7px -7px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #86cdf7), color-stop(1, #0889fa));
	background:-moz-linear-gradient(top, #86cdf7 5%, #0889fa 100%);
	background:-webkit-linear-gradient(top, #86cdf7 5%, #0889fa 100%);
	background:-o-linear-gradient(top, #86cdf7 5%, #0889fa 100%);
	background:-ms-linear-gradient(top, #86cdf7 5%, #0889fa 100%);
	background:linear-gradient(to bottom, #86cdf7 5%, #0889fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#86cdf7', endColorstr='#0889fa',GradientType=0);
	background-color:#86cdf7;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	border:5px solid #3e86de;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Courier New;
	font-size:20px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:-1px 1px 4px #263666;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0889fa), color-stop(1, #86cdf7));
	background:-moz-linear-gradient(top, #0889fa 5%, #86cdf7 100%);
	background:-webkit-linear-gradient(top, #0889fa 5%, #86cdf7 100%);
	background:-o-linear-gradient(top, #0889fa 5%, #86cdf7 100%);
	background:-ms-linear-gradient(top, #0889fa 5%, #86cdf7 100%);
	background:linear-gradient(to bottom, #0889fa 5%, #86cdf7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0889fa', endColorstr='#86cdf7',GradientType=0);
	background-color:#0889fa;
}
.button:active {
	position:relative;
	top:1px;
}

#seed_submit {
  background: #ffccff;
}

#change_grid_submit {
  background: yellow;
}


input[type=submit] {
  border:0 none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor:pointer;
  height: 5vh;
  width: 20vw;
}
